@import url('https://fonts.googleapis.com/css2? family= IBM+Plex+Sans & family= IBM+Plex+Serif & display=swap');

h1 {
    font-family:sans-serif;
text-align: center;
background-color: blue;
color: red

}
